
 <div  class="container m-t-50">
              <!-- <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Search By</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="SelectedCriteria" ng-options="S for S in Selectors">
                                    <option value="">please select value</option>
                                </select> 
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Search value:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="filterValue" class="form-control" 
                                ng-change="getresourcelistFilter();"/> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="table m-t-30">
                	<table  class="table text-center">
						    <thead>
						        <th>S.No</th>
						        <th>Vendor Name</th>
						        <th>First Name</th>
						        <th>Email</th>
						        <th>Skills</th>
						        <th>Experience</th>
						        <th>Avaliability</th>
								<th>Preferred Location</th>
								<th>City</th>
								<th>Status</th>
                              <th>Soft Lock</th>
                               <th>Hard Lock</th>
								<th>Edit</th>
								<th>Upload</th>
								<th>Download</th>
								
								
						    </thead>
						    <tbody>
						        <tr ng-repeat="resource in resourcelist">
						            <td>{{$index+1}}</td>
						             <td>{{ resource.companyName}}</td>
						            <td>{{ resource.firstName}}</td>
						            <td>{{ resource.emailId}}</td>
						            <td>{{ resource.skills}}</td>
						            <td>{{ resource.totalExperience }}</td>
						            <td>{{ resource.availability }}</td>
									<td>{{ resource.preferredLocation }}</td>
						            <td>{{ resource.city }}</td>						            						           
									<td><a type="button" class="btn btn-sm btn-primary butn" ng-click="statusResource(resource)">{{resource.status}}</a></td>
								    <td><a type="button" class="btn btn-sm btn-success butn" ng-click="softlockResource(resource)">{{resource.softLock}}</a></td>
								    <td><a type="button" class="btn btn-sm btn-danger butn" ng-click="hardlockResource(resource)">{{resource.hardLock}}</a></td>
						           <td><a type="button" class="btn btn-sm btn-primary butn" ui-sref="RA.updateresource({resourceId:resource._id})"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
						           <td><a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" ng-click="send_id(resource._id)"><i class="fa fa-upload"></i></td>
						           <td><a type="button" class="btn btn-sm btn-primary"  ng-click="filedownload(resource)"><i class="fa fa-download"></i></a></td>
						           <!-- <td><a type="button" class="btn btn-sm btn-primary"><i class="fa fa-file-word-o" aria-hidden="true"></i></a></td> -->
						         
						           
						        <!-- </tr>
						    </tbody>
					</table>
                </div>  -->
                 <div class="row">
                   <div class="col-md-6">
                     <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>
                    <div class="col-md-6">
                         <button type="button" class="btn btn-primary pull-right" ui-sref="RA.addresource"><i class="fa fa-plus"></i>&nbsp; Add </button>
                     </div>
                     
                     

                 </div>
      				
      				
      				
      				
      				   <br>
              <div class="row sea">
              <h4 style="color:#337ab7">Search Your Resource :</h4>
              <div class="col-sm-4">
              
              <input type="text" class="form-control" ng-model="search.skills" placeholder="Skills">
              
              </div>
              <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="search.city" placeholder="Location">
              </div>
              <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="search.totalExperience" placeholder="Experience">
              </div>
              
              <div class="col-sm-2">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Search</button>
              </div>
              
              </div>
              <br>
              
     <div class="row" >
         <div class="col-sm-3">
                   <h3>Set your filter:</h3>
       <div >
 
   
  <uib-accordion close-others="oneAtATime">
 
    <div uib-accordion-group class="panel-default" is-open="status.Location">
      <uib-accordion-heading>
      Location<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.Location, 'glyphicon glyphicon-plus': !status.open}"></i>
      </uib-accordion-heading>
     <ul class=" list-group ">
                                <input type="checkbox" > &nbsp Hyderabad</a><br>
                                <input type="checkbox" > &nbsp Banglore</a><br>
                                <input type="checkbox" > &nbsp pune</a><br>
                                <input type="checkbox" > &nbsp Delhi</a><br>
                                <input type="checkbox" > &nbsp Noida</a>
                        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.Job ">
      <uib-accordion-heading>
        Job Category <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.Job , 'glyphicon glyphicon-plus': !status.open}"></i>
      </uib-accordion-heading>
      <ul class="list-group ">
                                    <input type="checkbox" > &nbsp UI Developer</a><br>
                                    <input type="checkbox" > &nbsp Java Developer</a><br>
                                    <input type="checkbox" > &nbsp Dotnet Developer</a>
                                    
                            </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.Skills">
      <uib-accordion-heading>
         Skills <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.Skills, 'glyphicon glyphicon-plus': !status.open}"></i>
      </uib-accordion-heading>
      <ul class=" list-group ">
                                <input type="checkbox" > &nbsp Html</a><br>
                                <input type="checkbox" > &nbsp Css</a><br>
                                <input type="checkbox" > &nbsp Bootstrap</a><br>
                                <input type="checkbox" > &nbsp AngularJs</a><br>
                                <input type="checkbox" > &nbsp Javascript </a>
                        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.Experience">
      <uib-accordion-heading>
         Experience <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.Experience, 'glyphicon glyphicon-plus': !status.open}"></i>
      </uib-accordion-heading>
      <ul class=" list-group ">
                                <input type="checkbox" > &nbsp 0-1 year</a><br>
                                    <input type="checkbox" > &nbsp 1-2 years</a><br>
                                    <input type="checkbox" > &nbsp 2-3 years</a><br>
                                    <input type="checkbox" > &nbsp 3-4 years</a>
                        </ul>
    </div>
  
<br>
<center><button type="submit" class=" btn primary " >Clear filters</button>
<button type="submit" class=" btn primary " >Submit</button></center>

  
</div>
         
  
         </div>
         <div class="col-sm-8">
         <div ng-repeat="resource in resourcelist | filter:search">
         <div class="panel panel-default">
         <div class="" style="background-color:" ><label class="l2" style="color:#000"><span class="fa fa-user-circle-o"></span>&nbsp;&nbsp;{{resource.firstName}},</label> 
       		{{resource.jobCategory}}
         </div>
          <div class="panel-body" style="background-color:#fff">
          <div class="row">
          <div class="col-sm-11 l3">
          <div class="row l4">
          	<div class="col-sm-6">
          		<div class="row">
              <div class="col-sm-7"><label><span class="fa fa-building"></span>&nbsp;&nbsp;Company Name :</label></div>
              <div class="col-sm-5">{{resource.companyName}}</div>
              </div>
              </div>
             <div class="col-sm-6">
             <div class="row">
          		 <div class="col-sm-6"><label><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email-Id :</label></div>
              <div class="col-sm-6">{{resource.emailId}}</div>
              </div>
              </div>
          
          </div>
        	
        	<div class="row l4">
          	<div class="col-sm-6">
          		<div class="row">
              <div class="col-sm-7"><label><span class="fa fa-briefcase"></span>&nbsp;&nbsp; Experience:</label></div>
              <div class="col-sm-5">{{resource.totalExperience}}</div>
              </div>
              </div>
             <div class="col-sm-6">
             <div class="row">
          		 <div class="col-sm-6"><label><span class="fa fa-map-marker"></span>&nbsp;&nbsp;Job Location :</label></div>
              <div class="col-sm-6">{{resource.city}}</div>
              </div>
              </div>
          
          </div>
           <div class="row l4">
          	<div class="col-sm-6">
          		<div class="row">
              <div class="col-sm-7"><label><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Avaliability :</label></div>
              <div class="col-sm-5">{{resource.availability}}</div>
              </div>
              </div>
             <div class="col-sm-6">
             <div class="row">
          		 <div class="col-sm-6"><label><span class="fa fa-mobile"></span>&nbsp;&nbsp;Mobile:</label></div>
              <div class="col-sm-6">{{resource.mobileNumber}}</div>
              </div>
              </div>
          
          </div>
          
        
          <div class="row l4">
          	<div class="col-sm-6">
           <div class="row">
          		 <div class="col-sm-7"><label><span class="fa fa-tags"></span>&nbsp;&nbsp;Skills :</label></div>
              <div class="col-sm-5">{{resource.skills}}</div>
              </div>
              
             
          
          </div></div>
        
        
       		
        
          <div class="col-sm-1"></div>
          </div>
          
          </div>
          
        </div>
        
        <div class="panel-footer">
       <label>Status:</label> <a type="button" class="btn btn-sm btn-primary butn" ng-click="statusResource(resource)">{{resource.status}}</a>
        <label>Soft Lock:</label><a type="button" class="btn btn-sm btn-success butn" ng-click="softlockResource(resource)">{{resource.softLock}}</a>
								<label>Hard Lock:</label> <a type="button" class="btn btn-sm btn-danger butn" ng-click="hardlockResource(resource)">{{resource.hardLock}}</a>
						     <a type="button" class="btn btn-sm btn-primary butn" ui-sref="RA.updateresource({resourceId:resource._id})"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a>
						          <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" ng-click="send_id(resource._id)"><i class="fa fa-upload"></i>&nbsp;Upload</a>
						           <a type="button" class="btn btn-sm btn-primary"  ng-click="filedownload(resource)"><i class="fa fa-download"></i>&nbsp;Download</a>
        
        </div>
        </div>
       </div> </div> 
                                  
            
                              </div>
              
              
              
              
              
              
      
      
      
          <div class="container">
 
  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Resume</h4>
        </div>
        <div >
        <div class="modal-body">
            <div class="form-group">
                  <label class="control-label" >Upload Resume</label>
                     <input type="file"  name="file" file-model = "myFile" class="form-control"/>        				
                  <span class="help-block" ng-show="frm.companyName.$dirty && frm.companyName.$invalid">Please select company Name..!!</span>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-default" ng-click ="uploadFile(r_id,myFile )" data-dismiss="modal" >Submit</button>
        </div>
      </div>
      </div>
      
    </div>
  </div>
  
</div>
</div>
